.header {
    padding: 10px 16px;
    background: white;
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + div {
    padding-top: 102px;
}

.home_buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 50px;
    list-style: none;
}

.home_buttons a {
    background-color: gray;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}